<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.City" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="CountryCode" property="countryCode" jdbcType="VARCHAR" />
    <result column="District" property="district" jdbcType="VARCHAR" />
    <result column="Population" property="population" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id,Name,CountryCode,District,Population
  </sql>
  
  <select id="getCityById"  resultMap="BaseResultMap"  parameterType="int" >
    select
    id,Name,CountryCode,District,Population
    from city
     WHERE 1=1
     <if test="id != null">
         AND id=#{id,jdbcType=INTEGER}
     </if>
  </select>
  
  <select id="getCitys"  resultMap="BaseResultMap"   >
    select
    id,Name,CountryCode,District,Population
    from city
  </select>

  

</mapper>