<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.anotation.mapper.AlarmMapper">
	<resultMap id="BaseResultMap" type="com.example.anotation.model.Alarm">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="grade" property="grade" jdbcType="INTEGER" />
		<result column="event" property="event" jdbcType="VARCHAR" />
		<result column="detail" property="detail" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="use_time" property="useTime" jdbcType="DOUBLE" />
	</resultMap>

	<sql id="Base_Column_List">
		id,type,grade,event,detail,create_time,use_time
	</sql>


	<sql id="sql_save_columns">
		insert into t_alarm(
		<if test="null != type">type</if>
		<if test="null != grade">,grade</if>
		<if test="null != event">,event</if>
		<if test="null != detail">,detail</if>
		<if test="null != createTime">,create_time</if>
		<if test="null != useTime">, use_time</if>
		) values
	</sql>
	<sql id="sql_save_values">
		(
		<if test="null != type"> #{type}</if>
		<if test="null != grade">,#{grade}</if>
		<if test="null != event">,#{event}</if>
		<if test="null != detail">,#{detail}</if>
		<if test="null != createTime">,now()</if>
		<if test="null != useTime">,#{useTime}</if>
		)
	</sql>

	<insert id="save" keyProperty="id" useGeneratedKeys="true" parameterType="com.example.anotation.model.Alarm">
		<include refid="sql_save_columns" />
		<include refid="sql_save_values" />
	</insert>



</mapper>