<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">  
    <head>  
        <title>Hello World!</title>  
    </head>  
    <body>  
      <form action="/upload" method="post" enctype="multipart/form-data" >
        <input type="file" name="file"></input>
        <input type="text" name="name"></input>
        <input type="submit" value="提交"></input>
      </form>  
    </body>  
</html>